<a class="btn btn-default" ui-sref="companies" role="button">Back to Companies</a>

<h2>Bond list for {{company.legalName}}</h2>

<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">#</th>
      <th class="col-md-2 text-right">CUSIP</th>
      <th class="col-md-3 text-right">Coupon Rate</th>
      <th class="col-md-6"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat-start="bond in bonds">
      <td scope="row">
        {{$index+1}}
      </td>
      <td class="text-right">
        {{bond.cusip}}
      </td>
      <td class="text-right">
        {{bond.couponRate}}
      </td>
      <td class="text-right">
        <button class="btn btn-default btn-xs ng-class:showHistory" ng-click="visibleChart=!visibleChart">History</button>
      </td>
    </tr>
    <tr ng-repeat-end ng-show="visibleChart">
      <td colspan="4">
        <canvas width="680" height="200" company="{{bond.issuerId}}" prices="bond.prices" chart></canvas>
        <br>
        <br>
        <br>
      </td>
    </tr>
  </tbody>
</table>
