<table class="table table-striped">
  <thead>
    <tr>
      <th>Company</th>
      <th>Address</th>
      <th class="text-right">Revenue</th>
      <th class="text-right">Employees</th>
      <th>Industry</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="company in companies">
      <td scope="row">
        <a href="#/companies/{{company.companyId}}">{{company.legalName}}</a>
      </td>
      <td>{{company.address}}</td>
      <td class="text-right">{{company.revenue | currency:'$':0}}</td>
      <td class="text-right">{{company.employees | number}}</td>
      <td>{{company.industry}}</td>
    </tr>
  </tbody>
</table>
